
<div class="mb-3">
    <form [formGroup]="formulario">
        <label for="input1" class="form-label">Nome do segurado</label>
        <input type="text" class="form-control col-3" id="nomeSegurado" formControlName="nomeSegurado" name="nomeSegurado" [(ngModel)]="nomeSegurado" required>
        <div style="color: red; font-size: small;" *ngIf="formulario.get('nomeSegurado')?.errors">Nome do segurado obrigatório!</div>
        
        <label for="input1" class="form-label">Sexo</label>
        <select type="text" class="form-control" id="sexo" formControlName="sexo" name="sexo" aria-placeholder="Selecione o sexo" [(ngModel)]="sexo" required>
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
        <option value="outro">Outro</option>
        </select>
        <div style="color: red; font-size: small;" *ngIf="formulario.get('sexo')?.errors">Sexo obrigatório</div>
        
        <label for="input1" class="form-label">Idade</label>
        <input type="number" class="form-control" id="idade" formControlName="idade" name="idade" [(ngModel)]="idade" required >
        <div style="color: red; font-size: small;" *ngIf="formulario.get('idade')?.errors">Idade obrigatório</div>

        <label for="input1" class="form-label">Valor automável</label>
        <input type="number" class="form-control" id="valorAutomovel" formControlName="valorAutomovel" name="valorAutomovel" [(ngModel)]="valorAutomovel" required>
        <div style="color: red; font-size: small;" *ngIf="formulario.get('valorAutomovel')?.errors">Valor Automóvel obrigatório</div>
       
        <button type="submit" class="btn btn-primary mt-3" [disabled]="!formulario.valid" (click)="calcularApolice()">Enviar</button>  
        
        <br>
        <br>
        <label for="input1" class="form-label">Valor final da apólice:</label>
        <input type="number" class="form-control" id="valorApolice" formControlName="valorApolice" name="valorApolice" [(ngModel)]="valorApolice" readonly>
        
    </form>
    <br>
    <hr>
   